body {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper-box {
  border: 2px solid black;
  padding: 20px 30px;
}
.text-center {
  text-align: center;
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
}

.bg-cyan {
  background-color: cyan;
}

.github-header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.github-form {
  border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.github-profile {
  display: flex;
  margin: 1rem;
}

.github-profile img {
  width: 75px;
}

.github-profile .info {
  display: inline-block;
  margin-left: 12px;
}

.github-profile .info .name {
  font-size: 1.25rem;
  font-weight: bold;
}