body {
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px;
}
.wrapper-box {
  border: 2px solid black;
  padding: 20px 30px;
}
.text-center {
  text-align: center;
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
}

.bg-cyan {
  background-color: cyan;
}